#### Estrazione sentimenti singoli parchi

In [51]:
import pandas as pd
import numpy as np 
from nrclex import NRCLex 
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [39]:
#read dataframe
filepath = '../dataframe/df_completec.csv'
df = pd.read_csv(filepath)

In [43]:
df = df[df['text1'].str.contains('ballyhoura')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1857 entries, 299 to 24237
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0.1         1857 non-null   int64
 1   Unnamed: 0           1857 non-null   int64
 2   _id                  1857 non-null   int64
 3   entities             1849 non-null   object
 4   conversation_id      1857 non-null   int64
 5   author_id            1857 non-null   int64
 6   geo                  172 non-null    object
 7   lang                 1857 non-null   object
 8   attachments          700 non-null    object
 9   public_metrics       1857 non-null   object
 10  text                 1857 non-null   object
 11  created_at           1857 non-null   object
 12  id                   1857 non-null   int64
 13  context_annotations  423 non-null    object
 14  text1                1857 non-null   object
dtypes: int64(6), object(9)
memory usage: 232.1+ KB

#### Analisi dei sentimenti per singolo parco

In [47]:
#Return affect frequencies
df["emotions_freq"] = df["text1"].apply(lambda x: NRCLex(x).affect_frequencies)
df_f= df[["text1","emotions_freq"]]
df_f.head()

,text1,emotions_freq
299,ballyhoura ceramic wise participant ballyhoura...,"{'fear': 0.07692307692307693, 'anger': 0.07692..."
300,come moat kilfinane overlook ballyhoura mounta...,"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
301,wild ballyhoura mtb rate ballyhoura mountainbi...,"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
302,ballyhoura mountain trail fantastic amenity do...,"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
303,deric tv xvkings zara riverislandpr pop ballyh...,"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."

In [49]:
#Concateno il dataframe df_f in cui ho preso solo la colonna text1 con drop
# e quello in cui ho estratto il dizionario in formato pandas e messo le emozioni in colonna
#con .drop elimino la colonna anticip che è in più dato che esiste anticipation
df_s = pd.concat([df_f.drop(['emotions_freq'], axis = 1), df_f['emotions_freq'].apply(pd.Series).drop("anticip", axis=1)], axis = 1)

#Replace NaN with 0
df_s = df_s.replace(np.nan,0)
df_s.head()

,text1,fear,anger,trust,surprise,positive,negative,sadness,disgust,joy,anticipation
299,ballyhoura ceramic wise participant ballyhoura...,0.076923,0.076923,0.076923,0.153846,0.230769,0.076923,0.0,0.0,0.153846,0.153846
300,come moat kilfinane overlook ballyhoura mounta...,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.500000
301,wild ballyhoura mtb rate ballyhoura mountainbi...,0.000000,0.000000,0.000000,0.500000,0.000000,0.500000,0.0,0.0,0.000000,0.000000
302,ballyhoura mountain trail fantastic amenity do...,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.0,0.0,0.000000,0.500000
303,deric tv xvkings zara riverislandpr pop ballyh...,0.000000,0.000000,0.166667,0.166667,0.166667,0.166667,0.0,0.0,0.166667,0.166667

In [56]:
sys.path.insert(1,'..')
from Utility_Fede import aggregation
aggr = []
labels = []

for i in df_f['emotions_freq'].apply(pd.Series).drop("anticip", axis=1) : aggregation(i,df_s,aggr,labels)

fear :  0.020
anger :  0.021
trust :  0.120
surprise :  0.048
positive :  0.275
negative :  0.054
sadness :  0.015
disgust :  0.003
joy :  0.123
anticipation :  0.154