In [56]:
import pandas as pd
import os
import liwc
from Utility_Fede_04 import new_df

In [57]:
#https://github.com/chbrown/liwc-python/blob/master/liwc/dic.py
parse, category_names = liwc.load_token_parser('LIWC2007_English080730.dic')

In [58]:
def _parse_categories(lines):
    """
    Read (category_id, category_name) pairs from the categories section.
    Each line consists of an integer followed a tab and then the category name.
    This section is separated from the lexicon by a line consisting of a single "%".
    """
    for line in lines:
        line = line.strip()
        if line == "%":
            return
        # ignore non-matching groups of categories
        if "\t" in line:
            category_id, category_name = line.split("\t", 1)
            yield category_id, category_name

In [59]:
def _parse_lexicon(lines, category_mapping):
    """
    Read (match_expression, category_names) pairs from the lexicon section.
    Each line consists of a match expression followed by a tab and then one or more
    tab-separated integers, which are mapped to category names using `category_mapping`.
    """
    for line in lines:
        line = line.strip()
        parts = line.split("\t")
        yield parts[0], [category_mapping[category_id] for category_id in parts[1:]]

In [60]:
def read_dic(filepath):
    """
    Reads a LIWC lexicon from a file in the .dic format, returning a tuple of
    (lexicon, category_names), where:
    * `lexicon` is a dict mapping string patterns to lists of category names
    * `category_names` is a list of category names (as strings)
    """
    with open(filepath) as lines:
        # read up to first "%" (should be very first line of file)
        for line in lines:
            if line.strip() == "%":
                break
        # read categories (a mapping from integer string to category name)
        category_mapping = dict(_parse_categories(lines))
        # read lexicon (a mapping from matching string to a list of category names)
        lexicon = dict(_parse_lexicon(lines, category_mapping))
    return lexicon, list(category_mapping.values())

In [66]:
dizionario,label = read_dic('LIWC2007_English080730.dic')

In [62]:
k = list(dizionario.keys())
sentiment_key = list(dizionario.keys())

In [63]:
import json
with open('liwc_dic.json', 'w') as fp:
    json.dump(dizionario, fp, indent=1)

In [67]:
df = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dizionario.items()])).fillna(0)

In [68]:
#Create a new dataframe df2
df2 = pd.DataFrame(
                  index=pd.Index(sentiment_key),
                  columns=pd.Index(label)).fillna(0)
df2.head()

,funct,pronoun,ppron,i,we,you,shehe,they,ipron,article,...,work,achieve,leisure,home,money,relig,death,assent,nonfl,filler
a,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abandon*,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abdomen*,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abilit*,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
able*,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
for i in label: new_df(i,df,df2)
df2

,funct,pronoun,ppron,i,we,you,shehe,they,ipron,article,...,work,achieve,leisure,home,money,relig,death,assent,nonfl,filler
a,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
abandon*,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abdomen*,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abilit*,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
able*,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zion*,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
zit,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zits,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zoloft,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zz*,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0